/*折线图组件样式*/

.h5-component-polyline{

}
.h5-component-polyline canvas {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    /*canvas绘图需要设置z-index进行分层*/
    /*z-index: 0; */
 }
 .h5-component-polyline .text{
     font-size: 12px;
     position: absolute;
     height: 20px;
     bottom: -20px;
     line-height: 20px;
     text-align: center;
     transition: all 1s 1.6s;
 }
.h5-component-onLoad .text{
     opacity: 1;
 }
 .h5-component-onLeave .text{
     opacity: 0;
 }