/*柱状图组件样式*/

.h5-component-bar{
	
}
.h5-component-bar .line{
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 15px;
}
.h5-component-bar .name{
	width: 60px;
    float: left;
    color: #333;
    text-align: right;
    position: absolute;
    left: -60px;
}
.h5-component-bar .rate{ 
	height: 15px;
    margin-left: 5px;
    float: left;
    position: relative;
}
.h5-component-bar .rate .bg{ 
	background-color: yellowgreen;
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s 1.1s;
    border-radius: 2px;
}
.h5-component-bar .per{
    /*第三个参数是延迟时间*/
    transition: all 1s 2.1s;
    width: 20px;
    height: 15px;
    float: left;
    margin-left: 5px;
    opacity: 0;
}
.h5-component-bar-onload .rate .bg{
    width: 100%;
}
.h5-component-bar-onleave .rate .bg{
    width: 0%;
}
.h5-component-bar-onload .per{
    opacity: 1;
}
.h5-component-bar-onleave .per{
opacity: 0;
}