/*柱状图组件样式*/

.h5-component-bar-v{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.h5-component-bar-v .line{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.h5-component-bar-v .name{
    color: #333;    
}
.h5-component-bar-v .rate{ 
	
}
.h5-component-bar-v .rate .bg{ 
	background-color: yellowgreen;
    /*transition: all 1s .5s;*/
    border-radius: 2px;
    height: 0%;
    /*float: right;*/
}
.h5-component-bar-v .per{
    /*第三个参数是延迟时间*/
    transition: all 1s 1.5s;
    opacity: 0;
}
.h5-component-bar-v-onload .rate .bg{
animation: bigger 1s ease .5s;
animation-fill-mode :forwards;

}
.h5-component-bar-v-onleave .rate .bg{
    animation: smaller 1s ease;
animation-fill-mode :forwards;    
}
.h5-component-bar-v-onload .per{
    opacity: 1;
}
.h5-component-bar-v-onleave .per{
    opacity: 0;
}
@keyframes bigger {
    from{height: 0%;opacity: 0;}
    to{height: 100%;opacity: 1;}
}
@keyframes smaller{
    from{height: 100%;opacity: 1;}
    to{height: 0%;opacity:0;}
}